JobMatcher-common/src/main/resources/user.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="User" type="UserType"/>
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:long" name="cvId"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>